$ff-lato: 'Lato';
$ff-montserrat: 'Montserrat';

$fs-small: clamp(16px, 1.5vw, 20px);
$fs-medium: clamp(24px, 2.5vw, 32px);
$fs-big: clamp(32px, 4vw, 48px);

$cl-black: #000000;
$cl-white: #ffffff;
$cl-graphite: #6e6e6e;
$cl-dim-grey: #666666;

$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
