@use '_reset';
@use '_variables';
@use '_fonts';

body {
  font-family: $ff-montserrat, sans-serif;
  background-color: $cl-black;
  color: $cl-white;
}

section {
  padding: 25px 40px;

  @media (max-width: $bp-small) {
    padding: 25px 20px;
  }
}

h1 {
  font-weight: 700;
  font-size: $fs-big;
  text-transform: uppercase;
  text-shadow: 0 2px 8px rgba(255, 255, 255, 0.55);
}

h2 {
  font-weight: 700;
  font-size: $fs-medium;
  text-transform: uppercase;
  text-shadow: 0 2px 8px rgba(255, 255, 255, 0.5);
}

p,
li {
  font-weight: 500;
  font-size: $fs-small;
  line-height: 180%;
}

a {
  text-decoration: none;
  color: $cl-white;
}

img {
  max-width: 100%;
  height: auto;
}

:focus-visible {
  outline: 2px solid $cl-white;
  outline-offset: 2px;
}
